@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.cs-body {
  display: flex;
  background-size: 18% 100%;
  background-position: right;
  /* background-image: url("../../../../asset-img/globpx.svg"); */
  flex-direction: column;
  margin-bottom: 30px;
}

.cs-lower {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
}

.cs-lower-text {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 60px;
}

.cs-lower-card1 {
  padding: 4px;
  margin: 20px;
  margin-left: 120px;
  width: 40%;
  display: flex;
  max-height: 160px;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

.cs-lower-card2 {
  padding: 2px;
  margin: 20px;
  width: 40%;
  display: flex;
  max-height: 160px;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

.cs-lower-card3 {
  padding: 15px;
  margin: 20px;
  margin-left: 450px;
  width: 40%;
  display: flex;
  max-height: 160px;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

div .cs-lower-card1,div .cs-lower-card2,div .cs-lower-card3{
  border: 1px dashed black;
  border-radius: 10px;
}

.cs-lower-text {
  display: flex;
}

.cs-lower-card-image {
  width: 100px;
  height: 60px;
  flex: 3;
  margin-right: 10px;
}

.cs-lower-card-text {
  display: flex;
  flex: 7;
  margin-left: 10px;
  flex-direction: column;
  justify-content: center;
}

.cs-lower-card-text h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.7px;
  margin-bottom: 10px;
}

.cs-lower-card-text p {
  width: 82%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-size: 16px;
  line-height: 24px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #484848;
}

.first {
  padding: 10px;
  border-radius: 5px;
  border: 1px dashed black;
}

@media screen and (max-width: 2500px) and (min-width: 1700px) {
  .cs-upper h1 {
    font-size: 4rem;
  }

  .cs-upper p {
    font-size: 1.5rem;
    line-height: normal;
  }

  .cs-lower-card {
    margin-top: 40px;
  }

  .cs-lower-card-image {
    flex: 2;
  }

  .cs-lower-card-text {
    flex: 8;
  }

  .cs-lower-card-text h2 {
    font-size: 2rem;
  }

  .cs-lower-card-image {
    width: 200px;
    height: 200px;
  }

  .cs-lower-card-text p {
    line-height: normal;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 2500px) {
  .cs-upper h1 {
    font-size: 5rem;
  }

  .cs-lower-card-image {
    flex: 2;
  }

  .cs-lower-card-text {
    flex: 8;
  }

  .cs-upper p {
    font-size: 2.5rem;
    line-height: normal;
  }

  .cs-lower-card {
    margin-top: 7rem;
  }

  .cs-lower-card-text h2 {
    font-size: 3rem;
  }

  .cs-lower-card-image {
    width: 200px;
    height: 200px;
  }

  .cs-lower-card-text p {
    line-height: normal;
    font-size: 2rem;
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .cs-body {
    /* background-position-y: -3em;
      background-size: 30% 100%; */
    background-image: none;
    margin-bottom: 20px;
  }

  .cs-upper {
    margin-left: 25px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: 30% 100%;
    background-position-x: 77vw;
    background-repeat: no-repeat;
    /* background-position: right; */
    background-image: url("../../../../asset-img/globpx.svg");
  }

  .cs-upper h1 {
    font-size: 25px;
    line-height: normal;
    width: 100%;
  }

  .cs-upper p {
    padding-top: 20px;
    width: 78%;
    font-size: 13px;
    line-height: normal;
  }

  .cs-lower {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }

  .cs-lower-text {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .cs-lower-card {
    padding: 2px;
    width: 100%;
    max-height: 160px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .cs-lower-text {
    display: flex;
  }

  .cs-lower-card-image {
    width: 130px;
    flex: 2;
    height: 60px;
    margin-right: 5px;
  }

  .cs-lower-card-text {
    display: flex;
    margin-left: 5px;
    flex-direction: column;
    justify-content: center;
    flex: 8;

  }

  .cs-lower-card-text h2 {
    font-size: 15px;
    line-height: normal;
    margin-bottom: 9px;
  }

  .cs-lower-card-text p {
    width: 82%;
    font-size: 12px;
    line-height: normal;
  }

  .first-program-card {
    padding: 10px;
    margin-top: 20px;
    margin: 0px;
    border-radius: 5px;
    border: 1px dashed black;
  }
}

@media (max-width: 760px) {
  .cs-body {
    background-image: none;
    margin-bottom: 20px;
  }

  .cs-upper {
    margin-left: 25px;
    /* margin-right: 25px; */
    display: flex;
    justify-content: center;
    background-size: 30% 100%;
    flex-direction: column;
  }

  .cs-upper h1 {
    font-size: 25px;
    line-height: normal;
    width: 100%;
  }

  .cs-upper p {
    padding-top: 20px;
    width: 80%;
    font-size: 13px;
    line-height: normal;
  }

  .cs-lower {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }

  .cs-lower-text {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .cs-lower-card {
    padding: 2px;
    width: 100%;
    max-height: 160px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    justify-content: space-between;
  }

  .cs-lower-text {
    display: flex;
  }

  .cs-lower-card-image {
    width: 130px;
    height: 60px;
    margin-right: 5px;
  }

  .cs-lower-card-text {
    display: flex;
    margin-left: 5px;
    flex-direction: column;
    justify-content: center;
  }

  .cs-lower-card-text h2 {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 9px;
  }

  .cs-lower-card-text p {
    width: 82%;
    font-size: 11px;
    line-height: normal;
  }

  .first-program-card {
    padding: 10px;
    margin-top: 20px;
    margin: 0px;
    border-radius: 5px;
    border: 1px dashed black;
  }
}