.hea{
position: absolute;
width: 357px;
height: 87px;
left: 100px;
top: 80px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 87px;

}

.h1{
    position: absolute;
    width: 534px;
    height: 537.32px;
    left: 100px;
    top: 228px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 41px;
    
}
.para{
    position: absolute;
    width: 404px;
    height: 537.32px;
    left: 100px;
    top: 288px;
}
.h2{
    position: absolute;
    width: 534px;
    height: 537.32px;
    left: 8px;
    top: 108px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 41px;
}
.pp{
    position: absolute;
    width: 404px;
    height: 537.32px;
    left: 8px;
    top: 170px;

}
.btnn{
position: absolute;
width: 331px;
height: 65px;
left: 100px;
top: 589px;
color: white;
background: #592969;
border-radius: 5px;
font-weight: 600;
}
.btnn:hover{
    cursor: pointer;
}
.immg{
position: absolute;
width: 500px;
height: 500px;
left: 628px;
top: 153px;


}
.immgc{
position: absolute;
width: 500px;
height: 400px;
left: 628px;
top: 153px;

}
.left1{
position: absolute;
width: 48px;
height: 48px;
left: 1093px;
top: 706px;
text-decoration: none;

}
a{
    font-size: 60px;
    color: black;
}
.right1{
position: absolute;
width: 48px;
height: 48px;
left: 70px;
top: 706px;
text-decoration: none;

}

@media screen and (max-width: 360px) {
.immg{
position: absolute;
width: 500px;
height: 500px;
left: 428px;
top: 653px;
}
.para{
    position: absolute;
    width: 1004px;
    height: 537.32px;
    left: 100px;
    top: 288px;
    font-size: 30px;
    padding: 50px;
}
.pp{
    font-size: 30px;
    width: 1004px;
    padding: 50px;
}
.btnn{
    display: none;
}
.h2{
    font-size: 40px;
    padding: 40px;
    font-weight: bolder;
}
.left1{
    top: 1206px;

}
.h1{
    font-size: 40px;
    font-weight: bolder;
    padding: 40px;

}
.right1{
    top: 1206px;

}
.hea{
    font-size: 80px;
    margin-left: 35px;
    margin-bottom: 30px;

}
}
