.landing_page_container {
  padding: calc(10px + 1vw) calc(15px + 4vw);
}

.landing_page_container h1 {
  font-size: calc(15px + 2.5vw);
}

.landing_page_container div,
.landing_page_container li {
  font-size: calc(11px + 0.9vw);
}

.landing_page_container div {
  font-weight: 400;
}

/* doubt section */

.landing_page_doubt_section {
  background: #eef0ff;
  padding: calc(20px + 3vw);
  display: flex;
  border-radius: 5px;
  margin-top: calc(10px + 2vw);
}

.landing_page_doubt_section_image img {
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 4px 0px var(--grey);
  width: calc(90px + 15vw);
}

.landing_page_doubt_section_text {
  padding-left: calc(20px + 3vw);
}

/* .landing_page_doubt_section_text h1 {
  font-weight: 500;
} */

.landing_page_doubt_section_text p {
  color: var(--light_black);
  font-weight: 400;
  margin-top: 60px;
}

/* feature section */

.landing_page_feature_section {
  margin-top: calc(50px + 5vw);
  margin-bottom: calc(20px + 5vw);
  position: relative;
}

.left_section {
  width: 50%;
  margin-bottom: 60px;
}

/* .left_section_para {
  color: #656565;
  font-weight: 500;
  margin-top: 20px;
} */

.landing_page_feature_section_bottom li {
  color: #1b2c87;
  margin: calc(5px + 1vw) 0%;
  font-weight: bold,500;
  margin-left: 25px;
}

.landing_page_feature_section_bottom button {
  background: #5a2969;
  color: white;
  margin-top: 40px;
  margin-left: 5px;
  border: none;
  padding: 10px 40px;
  font-size: calc(10px + 0.9vw);
  cursor: pointer;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}

.left_section button:hover {
  background: #764086;
}

.right_section img {
  /* margin-top: calc(10px + 1vw); */
  height: calc(160px + 23vw);
  width: calc(50px + 30vw);
  position: absolute;
  right: 0px;
  bottom: 0px;
}

/* responsive-- media query section */

@media (min-width: 1500px) {
  /* benchmarking section */

  .landing_page_benchmarking_section {
    padding-left: calc(30px + 3vw);
  }

  .landing_page_benchmarking_section td {
    font-size: calc(12px + 0.7vw);
  }
}

@media (max-width: 680px) {
  /* benchmarking section */
  .landing_page_benchmarking_section {
    background: none;
    background-color: rgb(253, 250, 238);
    margin-right: calc(-25px - 10vw);
    width: 86vw;
  }

  .landing_page_benchmarking_left_section {
    padding-left: calc(10px + 5vw);
  }

  .landing_page_benchmarking_section td {
    padding-left: calc(42px + 1.5vw);
    padding-right: 0%;
    font-size: calc(10px + 0.8vw);
  }

  .landing_page_benchmarking_section_cornerimage img {
    width: 25%;
    right: -48px;
    top: -61px;
  }
}

@media (max-width: 600px) {
  /* mission section */
  .landing_page_mission_section {
    display: block;
  }

  .landing_page_mission_section p {
    padding: 0;
  }

  /* doubt section */
  .landing_page_doubt_section {
    display: block;
    padding: calc(10px + 2vw) calc(20px + 3vw);
  }

  .landing_page_doubt_section_image img {
    width: 100%;
  }

  /* learning section */
  .heading_section {
    display: block;
    margin-top: calc(20px + 3vw);
  }

  .images_section {
    height: fit-content;
  }

  .images_row1 {
    flex-direction: column;
    width: 100%;
  }

  .images_row1_column1 {
    width: 100%;
    height: 150px;
  }

  .images_row1_column2 {
    width: 100%;
  }

  .images_row1_column2_row1,
  .images_row1_column2_row2 {
    width: 100%;
    height: 150px;
  }

  .images_row1_column3 {
    height: 150px;
    width: 100%;
  }

  .images_row2 {
    flex-direction: column;
    width: 100%;
  }

  .images_row2_column1,
  .images_row2_column2 {
    height: 150px;
    width: 100%;
    margin: 0.5vw;
  }

  /* feature section */
  .landing_page_feature_section {
    margin-top: calc(20px + 2vw);
  }

  .left_section {
    width: 100%;
  }

  .landing_page_feature_section_bottom button {
    font-size: calc(12px + 1.1vw);
  }
}

@media (max-width: 470px) {
  /* feature section */

  .right_section img {
    width: calc(0px + 30vw);
  }
}

@media (max-width: 400px) {
  /* mission section */
  .landing_page_mission_section img {
    width: calc(100px + 10vw);

  }

  /* benchmarking section */
  .landing_page_benchmarking_section {
    width: 100vw;
    overflow-x: scroll;
    padding-top: 60px;
    background-color: white;
  }

  

  .landing_page_benchmarking_section img {
    /* display: none; */
    /* position: absolute; */
    /* display: inline; */
  }

  .landing_page_benchmarking_section_cornerimage img{
    position: absolute;
    display: flex;
    top: 2%;
  }

  /* feature section */
  .left_section button {
    font-size: 1rem;
  }

 
}

@media screen and (min-width:280px) and (max-width:760px) {

  /* feature section */

  .right_section img{
    /* position: absolute; */
    /* display: flex; */
    /* width: 100%;
    top: 300px; */
    display: none;
  }

  .landing_page_feature_section_bottom button{
      margin-left: 70px;
  }

  /* benchmarking section */
  .landing_page_benchmarking_section {
    width: 100vw;
    overflow-x: scroll;
    padding-top: 60px;
    background-color: white;
  }

  .landing_page_benchmarking_section_cornerimage img{
    position: absolute;
    display: flex;
    top: 2%;
  }

  /* mission section */
  .landing_page_mission_section img {
    width: calc(50px + 10vw);
    position: relative;
    /* display: flex; */
    margin-left: 150px;
    top:30px;

  } 

}
