

.foot-email {
    margin-top: 20px;
}

.footer_logo {
    width: 200px;
    margin-bottom: 20px;
}


.footer_left {
    /* width: 300px; */
    display: flex;
    flex-direction: column;
}

.footer {
    background: #FFFAF3;
    min-height: 100px;
    display: grid;
    grid-gap: calc(10px + 5vw);
    grid-template-columns: 1.5fr 1fr 1fr;
    padding: calc(20px + 2vw) calc(1px + 0.5vw) calc(10px + 1vw) calc(20px + 5vw);
    /* width: 92.5%; */
}

.footer p {
  
    color: var(--light_black);
    font-size: calc(7px + 0.8vw);
    /* font-weight: 400; */
}

.address{
    font-size: calc(5px + 0.8vw);
    font-family: 'Open Sans';
    font-weight: 400;
}

.footer_options {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_option {
    padding: calc(10px + 1vw) 0%;
}

.footer_options a, .learninschool {
    color: black;
    text-decoration: none;
    font-size: calc(10px + 0.8vw);
}

.footer_options a:hover, .learninschool:hover {
    text-decoration: underline;
}

.footer_socialmedia_icons {
    display: flex;
}

.footer_socialmedia_icon {
    padding: calc(2px + 1vw);
    font-size: 1.5rem;
}

.footer_right img {
    width: calc(100px + 40%);
}


@media (min-width: 1500px){

    .footer_socialmedia_icon {
        font-size: 2rem;
    }
}
@media (max-width:1000px){
    .footer_right img {
        width: calc(100px + 10vw);
        position: absolute;
        right: 30px;
    }

    .footer {
        background: #FFFAF3;
        min-height: 100px;
        display: grid;
        grid-gap: calc(10px + 5vw);
        grid-template-columns: 1fr 1fr 0.5fr ;
       
        /* width: 92.5%; */
    }

}

@media (max-width:720px) {
    .footer {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 0%;
    }
    .footer p {
        font-size: 1.1rem;
      
    }
    .footer_right img {
        width: 40%;
        position: absolute;
        bottom: 60px;
        right: 15px;
    }
    .footer_option {
        padding: calc(5px + 1vw) 0%;
        font-size: calc(10px + 1vw);
    }
    .footer_socialmedia_icon i {
        font-size: 1.2rem;
    }
    
.address{
    font-size: calc(7px + 1.1vw);
}
}


@media (max-width:375px){

  
.footer_options a, .footer_option {
    font-size: calc(12px + 1vw);
}
.footer_socialmedia_icon i {
    font-size: 1.1rem;
}

.address{
font-size: calc(8px + 1.1vw);
}
}

@media (max-width:275px){
    .footer_right img{
        display: none;
    }
}