.learningCard {
   display: flex;
   flex-direction: column;
}

.learningCard h1 {
   font-family: Playfair Display;
   font-style: normal;
   font-weight: bold;
   font-size: 30px;
   line-height: 56px;
}

.learningCard>h1 {
   margin-left: 30px;
}

.learingCard-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 10px;
   align-items: center;
}

.learningCard-card {
   width: 95%;
   padding: 10px;
   display: flex;
   background: #FFFFFF;
   box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 10px;
   margin-top: 10px;
   /* align-items: center; */
}

.learningCard-heading {
   display: flex;
   padding: 3px 20px;
   justify-content: space-between;
   align-items: center;
}

.learningCard-heading h2 {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
}

.learningCard-heading p {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   color: #0D286C;
   margin-right: 40px;
}

.learning-icon {
   cursor: pointer;
}

.learningCardBody {
   border-top: 1px solid #CBC2C2;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   display: none;

}

.learnc-heading-right {
   display: flex;
   align-items: center;
}

.learningCardTopic {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   margin-top: 10px;
   margin-left: 20px;
}

.yellow-line {
   background-color: #8988c096;
   transform: rotate(180deg);
   height: 23px;
   width: 2.8px;
   position: relative;
   left: -28.4px;
   top: 25px;
}

.last-yellow-line {
   display: none;
}

.yellowdot {
   width: 15px;
   height: 15px;
   border-radius: 100%;
   background: #F5A624;
   margin-right: 20px;
}

.learningCard-para {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   margin-top: 10px;
   position: relative;
   left: 35px;
   margin-top: 20px;
   width: 90%;
}

.learningCardTopic p {
   font-family: 'Poppins';
   font-style: normal;
   width: 90%;
   font-weight: 500;
   cursor: pointer;
   font-size: 17px;
   /* font-size: 19px; */
}

@media screen and (max-width:760px) {
   .learningCard-para {
      font-size: 13px;
      line-height: normal;
      font-weight: 600;
      letter-spacing: 0.3px;
      margin-top: 5px;
      margin-bottom: 5px;
   }

   .learning-icon {
      width: 20px !important;
   }

   .learningCard h1 {
      /* font-size: 25px; */
      font-size: 20px;
      line-height: normal;
      margin-bottom: 5px;
   }

   .learningCard>h1 {
      margin-left: 10px;
   }

   .learningCard-card {
      width: 100%;
      padding: 5px;
      margin-bottom: 15px;
      margin-top: 15px;
   }

   .learningCard-heading {
      padding: 3px 10px;
   }

   .learningCard-heading h2 {
      /* font-size: 15px; */
      font-size: 14px;
      width: 80%;
      /* letter-spacing: 0.2px; */
      letter-spacing: 0.4px;
   }

   .learningCard-heading p {
      /* font-size: 12px; */
      font-size: 11px;
      /* font-size: 12px; */
      font-weight: 700;
      padding-left: 5px;
      margin-right: 0px;
   }

   .learningCardBody {
      padding: 10px;
      display: none;
   }

   .yellow-line {
      display: none;
   }

   .learningCardTopic {
      margin-bottom: 10px;
      margin-top: 5px;
      margin-left: 0px;
   }

   .yellowdot {
      width: 12px;
      height: 12px;
      margin-right: 5px;
      margin-right: 10px;
   }

   .learningCardTopic p {
      /* font-size: 14px; */
      font-size: 13px;
      width: 90%;
      letter-spacing: 0.4px;
   }
}

@media (min-width:1600px) {
   .learningCard-heading h2 {
      font-size: 25px;
      letter-spacing: 1px;
   }

   .learningCardTopic p {
      font-size: 20px;
      letter-spacing: 1px;
   }
}