/* carrer Guidance section */

.c-sec-body {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.c-text {
  display: flex;
  flex-direction: column;
}

.c-text h2 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700, bold;
  font-size: 40px;
  margin-bottom: 100px;
  padding-right: 50px;
}

.c-content {
  width: 35%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  padding-right: 50px;
  color: #3f3f3f;
  font-size: 18px;
}

.dottedarrow {
  position: absolute;
  width: 649px;
  height: 181px;
  right: 8px;
  top: 230%;
  background-image: url("../../../../asset-img/dottedline.svg");
}

.c-video {
  position: absolute;
  cursor: pointer;
  /* width: 200px; */
  width: 58%;
  right: 10px;
  /* height: 350px; */
  background-image: url("../../../../asset-img/video.svg");
}

/* what kids gain section */

.kg-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 41px;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.kg-upper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 20px 0px;
}

.kg-upper h2 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  margin-left: 40%;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.kg-lower {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kg-lower-text {
  display: flex;
  width: 100%;
  margin-left: 2%;
  flex-wrap: wrap;
}

.kg-lower-card {
  justify-content: center;
  align-items: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.kg-lower-card-image {
  z-index: 9999;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.kg-lower-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kg-lower-card-text h2 {
  margin-bottom: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #592969;
}

.signup {
  cursor: pointer;
  background-color: #5a2969;
  border-radius: 20px;
  color: white;
  margin: 30px 10px;
  font-size: 20px;
  text-align: center;
  padding: 10px 40px;
  font-weight: 600;
  width: 100%;
  margin-left: 400%;
  /* border: 1px solid gray; */
}

@media screen and (min-width: 2500px) {
  .c-video {
    width: 50rem;
    height: 30rem;
  }

  .c-content {
    width: 45%;
  }

  .c-text h2 {
    font-size: 5rem;
  }

  .c-text p {
    font-size: 2.5rem;
  }

  .signup {
    padding: 10px;
    width: fit-content;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 2500px) and (min-width: 1700px) {
  .c-video {
    width: 50rem;
    height: 30rem;
  }

  .c-content {
    width: 45%;
  }

  .c-text h2 {
    font-size: 4rem;
  }

  .c-text p {
    font-size: 2rem;
  }

  .signup {
    padding: 10px;
    width: fit-content;
    font-size: 2rem;
  }
}

@media (min-width: 280px) and (max-width: 760px) {
  .c-sec-body {
    /* padding: 10px; */
    flex-direction: column;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-bottom: 30px;
    text-align: center;
  }

  .kg-upper h2 {
    margin-left: 0;
  }

  .c-text h2 {
    letter-spacing: 0.3px;
    font-size: 25px;
    margin-bottom: 5px;
  }

  .c-content {
    width: 100%;
    padding: 2px;
  }

  .c-text p {
    font-size: 13.7px;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 0.6px;
    padding-right: 10px;
    margin-bottom: 20px;
  }

  .c-video {
    position: relative;
    top: 0px;
    width: 100%;
  }

  .signup {
    display: none;
  }

  .kg-upper {
    align-items: center;
  }
  /* kids gain */

  .kg-lower-card {
    padding: 10px;
  }
}

@media (min-width: 760px) and (max-width: 1030px) {
  .c-sec-body {
    padding: 10px;
    /* border: 1px solid green; */
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }

  .c-text h2 {
    letter-spacing: 0.3px;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .c-content {
    width: 43%;
    padding: 2px;
  }

  .c-text p {
    letter-spacing: 0.3px;
    font-size: 20px;
    margin-top: 10px;
    padding-right: 10px;
  }

  .c-video {
    position: relative;
    top: 10px;
    width: 55%;
    height: 280px;
  }

  .signup {
    display: none;
  }
}

@media (max-width: 280px) {
  .c-sec-body {
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }

  .c-text h2 {
    letter-spacing: 0.5px;
    font-size: 25px;
    margin-bottom: 5px;
  }

  .c-content {
    width: 100%;
    padding: 2px;
  }

  .c-text p {
    letter-spacing: 0.3px;
    font-size: 13px;
    margin-top: 5px;
    padding-right: 5px;
  }

  .c-video {
    position: relative;
    margin-top: 20px;
    top: 10px;
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
  }

  .signup {
    display: none;
  }
}
