.similar-course-card {
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   border-radius: 10px;
   height: 210px;
   width: 200px;
   margin: 15px;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.similar-course-card h2 {
   font-family: 'Open Sans';
   text-transform: capitalize;
   font-weight: 600;
   width: 100%;
   text-align: center;
   background-color: #0000008a;
   color: #FFFFFF;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

@media (max-width:760px) {
   .similar-course-card {
      width: 200px;
      height: 200px;
   }
   .similar-course-card h2 {
      font-weight: 600;
      padding: 5px;
      font-size: 18px;
      line-height: normal;
      width: 90%;
   }
}

@media screen and (min-width:2000px) {
   .similar-course-card {
      border-radius: 10px;
      height: 420px;
      width: 400px;
      margin: 15px;
   }
   .similar-course-card h2 {
      font-size: 48px;
      line-height: normal;
      border-radius: 10px;
   }
}