@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;500&display=swap");

.image {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.app {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.app_modal {
  opacity: 0.1;
}
.home_body {
  background-color: #8b8b8b;
  opacity: 0.88;
}

.heading {
  margin-top: 50px;
  position: relative;
  /* left: 92px; */
  left: 50px;
  height: 73px;
  width: max-content;
  display: flex;
  color: #5a2969;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 20px;
  background-image: url("./asserts/heading-background.svg");
}

.heading h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding: 13px;
  line-height: 24px;
  padding-top: 25px;
  letter-spacing: 0.025em;
}

@media screen and (min-width: 1600px) {
  .heading h3 {
    font-size: 2rem;
  }

  .heading {
    background-image: 100% 100%;
  }
}

@media (max-width: 760px) {
  .heading {
    left: 30px;
    /* width: fit-content; */
    height: 50px;
    overflow-y: hidden;
    margin-bottom: 10px;
  }

  .heading h3 {
    font-weight: bold;
    font-size: 18px;
    padding: 1px 4px;
    line-height: 24px;
    letter-spacing: 0.3px;
  }
}

@media (min-width: 760px) and (max-width: 1020px) {
  .heading {
    left: 50px;
    width: fit-content;
    height: 70px;
    margin-bottom: 10px;
  }

  .heading h3 {
    font-size: 25px;
    padding: 10px 15px;
    line-height: inherit;
    letter-spacing: 1px;
  }
}

h1,
h1 span {
  font-family: "Playfair Display", serif;
}

p {
  font-size: calc(8px + 0.8vw);
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1vw;
}

.heading_color {
  color: #eead03;
}

@media (min-width: 1500px) {
  p {
    font-size: calc(9px + 0.8vw);
  }

  /* div, li {
      font-size: calc(13px + 0.7vw);
   } */
}

@media (max-width: 700px) {
  h1,
  h1 span {
    font-size: calc(18px + 2vw);
  }

  p {
    font-size: calc(10px + 0.7vw);
  }

  /* div, li {
      font-size: calc(12px + 0.7vw);
   } */
}

@media (max-width: 375px) {
  h1,
  h1 span {
    font-size: calc(20px + 2vw);
  }

  p {
    font-size: calc(9px + 0.7vw);
  }

  /* div, li {
      font-size: calc(13px + 0.7vw);
   } */
}
