@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@500&family=Poppins:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@100;300&display=swap");
.close_icon {
  position: absolute !important;
  top: 0 !important;
  right: 0vw !important;
  cursor: pointer;
  font-size: 1.8vw;
  color: red;
  background-color: rgb(250, 201, 201);
  padding: 0px 0.5vw;
  border-radius: 0.2vw;
}

.modal_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: fixed;
  top: 30%;
  left: 25%;
  border: 1px solid #707070;
  border: none;
  padding: 0.5vw 1.5vw;
  border-radius: 0.8vw;
  background-color: white;
  z-index: 40;
}
.modal_popup {
  /* transition: all 2s; */
  animation: popup 0.2s ease-in-out;
}
@keyframes popup {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.modal_popdown {
  /* transition: all 2s; */
  animation: popdown 0.2s ease-in-out;
}
@keyframes popdown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.modal_container > h1 {
  font-family: "Open Sans", sans-serif;
  margin: 0.5vw 0.2vw;
}
.modal_container > p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
  font-weight: 500;
  margin: 0.5vw 0.2vw;
}
.register_button {
  text-decoration: none;
  background-color: #0606e2;
  text-align: center;

  color: white;
  padding: 0.5vw 1vw;
  font-size: 1.2vw;
  border-radius: 0.5vw;
  margin: 1vw 0vw;
}
@media (max-width: 800px) {
  .modal_container {
    top: 33%;
    left: 27%;
  }
  .modal_container > h1 {
    font-size: 3vw;
  }
  .modal_container > p {
    font-size: 1.5vw;
  }
  .register_button {
    font-size: 1.5vw;
    padding: 1.5vw 2vw;
  }
}
@media (max-width: 600px) {
  .modal_container {
    top: 40%;
    left: 15%;
    width: 70%;
  }
  .close_icon {
    font-size: 3.5vw;
    padding: 0.5vw 1vw;
  }
  .modal_container > h1 {
    font-size: 5vw;
    margin-top: 3.5vw;
  }
  .modal_container > p {
    font-size: 2.5vw;
  }
  .register_button {
    font-size: 3.5vw;
  }
}
@media (max-width: 400px) {
  .modal_container {
    top: 37%;
    left: 15%;
    width: 70%;
  }
  .close_icon {
    font-size: 4.5vw;
    padding: 0vw 2vw;
  }
  .modal_container > h1 {
    font-size: 6vw;
    margin-top: 4vw;
  }
  .modal_container > p {
    font-size: 3vw;
  }
  .register_button {
    font-size: 4vw;
    padding: 1.5vw 2vw;
    margin-top: 2.5vw;
  }
}
