@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.onclick {
   color: black;
   text-decoration: underline;
}

.header-search-head {
   display: flex;
   width: 30%;
   justify-content: space-between;
   align-items: center;
   background-color: #F2F6FF;
}

.content-mobile-header_right {
   display: none;
}

.header-search-head input {
   padding: 10px 10px;
   width: 90%;
   border: none;
   background-color: #F2F6FF;
}

.header-search-head input:focus {
   outline: none;
}

.search-icon {
   cursor: pointer;
   padding: 5px;
   color: gray;
}

a {
   text-decoration: none;
}

.content-header {
   z-index: 999;
   width: 100%;
   background-color: #FFFFFF;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
}

.header-logo {
   /* width: 160px; */
   margin-left: 30px;
   background-repeat: no-repeat;
   width: 184px;
   height: 54px;
   /* background-image: url('../../asserts/logo.svg'); */
}

.header-header_options {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
}

.header-header_link:hover, .header-avatar-dropdown p:hover {
   text-decoration: underline;
   color: black;
}

.header-header_link, .header-avatar-dropdown p {
   cursor: pointer;
   color: rgba(34, 34, 34, 0.7);
   font-family: ' Open Sans';
   font-style: 'normal';
   font-weight: 800;
   font-size: 17px;
   padding: 10px 18px;
   text-align: center;
   letter-spacing: 0.5px;
   transition: all 200ms ease-in-out;
}

.header-header_link:hover, .header-buttons div:hover {
   transform: scale(1.01);
}

.click {
   color: black;
}

.header-buttons {
   margin-right: 10px;
   display: flex;
}

.header-btn {
   cursor: pointer;
   width: 160px;
   color: black;
   transition: all 200ms ease-in-out;
   height: 50px;
   font-size: 18px;
   border: 2px solid #D9E0EE;
   box-sizing: border-box;
   border-radius: 5px;
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2px 10px;
}

.header-menu-logo {
   width: 50px;
   background-image: 100% 100%;
   background-repeat: no-repeat;
   height: 50px;
   background-image: url('../images/menu.svg');
   display: none;
}

.head-avatar {
   margin-right: 40px;
   cursor: pointer;
}

.header_right {
   transition: all 200ms ease-in-out;
   width: fit-content;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-buttons .login {
   background-color: #1B2C87;
   color: #FFFFFF;
}

.header-avatar-dropdown {
   display: flex;
   flex-direction: column;
   position: absolute;
   right: 10px;
   top: 60px;
   border-radius: 20px;
   padding: 10px;
   background: #FFFFFF;
   box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
}

a {
   text-decoration: none;
}

@media (min-width:200px) and (max-width:760px) {
   .header-search-head {
      width: 50%;
      margin-right: 10px;
   }

   .header-search-head input {
      padding: 4px;
      font-size: 10px;
   }

   .header-avatar-dropdown {
      position: relative;
      top: 0px;
      right: 0px;
      background-color: #F2F4FA;
      box-shadow: none;
   }

   .header-head-avatar {
      position: relative;
      right: 0px;
      margin-bottom: 10px;
   }

   .content-header {
      width: 100vw;
      padding: 0px 10px;
      height: 50px;
      justify-content: space-between;
   }

   .header-logo {
      width: 100px;
      margin-left: 0px;
      height: 100px;
      margin-right: 10px;
      /* height: 30px; */
      position: relative;
      top: 0px;
   }

   .header_right {
      display: none;
   }

   .content-mobile-header_right {
      display: flex;
      position: absolute;
      top: 50px;
      right: 0px;
      z-index: 9999;
      background: #F2F4FA;
      box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      flex-direction: column;
   }

   .header-header_options {
      display: flex;
      flex-direction: column;
   }

   .header-header_link, .header-avatar-dropdown p {
      font-size: 12px;
      /* font-size: 14px; */
      line-height: 115.3%;
      /* display: none; */
   }

   /* .header_none {
      display: none;
   } */
   .header-buttons {
      flex-direction: column;
      margin-right: 0px;
   }

   .header-btn {
      padding: 5px;
      border: none;
      font-size: 14px;
      color: #592969;
      height: fit-content;
   }

   .header-buttons:last-child {
      border-radius: 0px;
      border-bottom: 2px solid orange;
   }

   .login {
      background-color: transparent;
   }

   .header-menu-logo {
      width: 20px;
      height: 20px;
      margin-right: 40px;
      display: flex;
      cursor: pointer;
   }
}

@media (min-width:760px) and (max-width:1020px) {
   .header-search-head {
      width: 25%;
   }

   .header-header_options {
      margin-right: 5px;
   }

   .header-buttons h3 {
      padding: 20px;
      font-size: 14px;
   }

   .header-logo {
      width: 150px;
      margin-left: 0px;
      height: 40px;
   }

   .header-btn {
      width: 80px;
      height: 40px;
      font-size: 14px;
      letter-spacing: 0.7px;
      margin: 2px;
      font-weight: 700;
   }
}

@media screen and (min-width:1400px) and (max-width:2500px) {
   .header-search-head input {
      font-size: 1rem;
   }

   .header-avatar-dropdown {
      top: 80px;
   }

   .header-header_link, .header-header_link>a, .header-avatar-dropdown p {
      font-size: 1.7rem;
      letter-spacing: 0.3px;
      padding: 5px 30px;
   }

   .header-btn {
      font-size: 1.7rem;
   }

   .header-logo {
      width: 203px;
      height: 100px;
   }
}

@media screen and (min-width:2500px) {
   .header-search-head input {
      font-size: 2rem;
   }

   .header-avatar-dropdown {
      top: 100px;
   }

   .header-header_link, .header-header_link>a, .header-avatar-dropdown p {
      font-size: 2.4rem;
      letter-spacing: 0.3px;
      padding: 5px 30px;
   }

   .header-btn {
      padding: 10px;
      height: fit-content;
      font-size: 2.4rem;
   }

   .header-logo {
      padding-top: 15px;
      width: 303px;
      height: 100px;
   }
}