

.foot-email {
    margin-top: 20px;
}

.footer_logo {
    width: 200px;
    margin-bottom: 20px;
}


.footer_left {
    /* width: 300px; */
    display: flex;
    flex-direction: column;
}

.footer_right img{
    /* width: 500px; */
    /* height: 100%; */
    object-fit: contain;
}

.footer {
    background: #FFFAF3;
    min-height: 100px;
    display: grid;
    grid-gap: calc(10px + 5vw);
    grid-template-columns: 1.5fr 1fr 1fr;
    padding: calc(20px + 2vw) calc(1px + 0.5vw) calc(10px + 1vw) calc(20px + 5vw);
    /* width: 92.5%; */
}

.footer p {
  
    color: var(--light_black);
    font-size: calc(7px + 0.8vw);
    /* font-weight: 400; */
}

.address{
    font-size: calc(5px + 0.8vw);
    font-family: 'Open Sans';
    font-weight: 400;
}

.footer_mid{
    margin-left:-40px;
}

.footer_options {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.footer_option {
    padding: calc(5px + 1vw) 0%;
}

.footer_options a, .learninschool {
    color: black;
    text-decoration: none;
    font-size: calc(10px + 0.8vw);
}

.footer_options a:hover,.footer_options a:active, .learninschool:hover {
    text-decoration: underline;
}

.footer_socialmedia_icons {
    display: flex;
    margin-left: -20px;
}

.footer_socialmedia_icon {
    padding: calc(2px + 1vw);
    font-size: 1.5rem;
    
}

.footer_socialmedia_icon a img {
    width: 250%;
    height: 50%;
    /* padding: 10px; */
}

.footer_right{
    position: absolute;
    width: 58%;
    left: 40%;
}

.footer_right img{
    position: absolute;
    right: 0%;
}


@media (min-width: 1500px){

    .footer_socialmedia_icon {
        font-size: 2rem;
    }

    .footer_mid{
        margin-left:-40px;
    }
}

@media (max-width:1024px){
    .footer_right img {
        width: calc(100px + 10vw);
        position: absolute;
        right: 30px;
        top: 460%;
        
    }

    .footer {
        background: #FFFAF3;
        min-height: 100px;
        display: grid;
        grid-gap: calc(10px + 5vw);
        grid-template-columns: 1fr 1fr 0.5fr ;
       
        /* width: 92.5%; */
    }

}

@media (max-width:760px) {
    .footer {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 0%;
    }
    .footer p {
        font-size: 1.1rem;
      
    }
    .footer_right img {
        display: none;
        /* width: 40%;
        position: absolute;
        bottom: 20px;
        margin-top: 50px;
        right: 15px; */
    }
    .footer_option {
        padding: calc(5px + 1vw) 0%;
        font-size: calc(10px + 1vw);
        margin-left: 30px;   
    }
    .footer_socialmedia_icon i {
        font-size: 1.2rem;
        position: relative;
        left:75px;
        text-align: center;
    }
    
.address{
    font-size: calc(7px + 1.1vw);
}

.footer_mid{
    margin-right: 35px;
    text-align: center;
}

}


@media (max-width:375px){

  
.footer_options a, .footer_option {
    font-size: calc(12px + 1vw);
}
.footer_socialmedia_icon i {
    font-size: 1.1rem;
}

.address{
font-size: calc(8px + 1.1vw);
}



}

@media (max-width:275px){
    .footer_right img{
        display: none;
    }
}

@media screen and (min-width:480px) and (max-width:760px) {
    .footer {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 0%;
        
    }

    .footer_left{
        text-align: center;
        padding-right: 30px;
    }

    .footer p {
        font-size: 1.1rem;
      
    }
    
    .footer_right img {
        display: none;
        /* width: 40%; */
        /* position: absolute; */
        /* bottom: 20px; */
        /* margin-top: 50px; */
        /* right: 15px; */
    }
    .footer_option {
        padding: calc(5px + 1vw) 0%;
        font-size: calc(10px + 1vw);
        margin-left: 10px;   
    }
    .footer_socialmedia_icon i {
        font-size: 1.2rem;
        position: relative;
        left:130px;
    }
    
    .address{
        font-size: calc(7px + 1.1vw);
        
        
    }

    .footer_mid{
        /* margin-left: 2px; */
        text-align: center;
        padding-right: 40px;
    }

    .footer_logo{
        margin-left: 80px;
    }
}