.body {
   width: 100%;
   height: 90vh;
   /* height: 40vw; */
   overflow: hidden;
   display: flex;
   background-image: url('../../asserts/background.jpg');
}

.body-text {
   position: relative;
   left: 6rem;
   top: 5rem;
   width: 40%;
   display: flex;
   flex-direction: column;
}

.body-text>h1 {
   /* font-size: 54px; */
   font-size: 3em;
   /* line-height: 70px; */
   font-family: var(--heading);
   letter-spacing: 0.025em;
}

.body-text p {
   width: 70%;
   margin-top: 20px;
   font-family: var(--nonheading);
   font-weight: 500;
   /* font-size: 16px; */
   font-size: 1em;
   /* line-height: 24px; */
   letter-spacing: 0.025em;
   color: #474747;
}

.body-text-div {
   display: flex;
}

.arrow {
   width: 200px;
   height: 200px;
   position: relative;
   top: -20px;
   left: 30px;
   background-image: url('../../asserts/arrow.svg');
}

.big-btn {
   margin-top: 20px;
   padding: 7px 16px;
   width: 170px;
   cursor: pointer;
   height: fit-content;
   text-align: center;
   color: white;
   font-weight: 600;
   font-size: 20px;
   letter-spacing: 0.025em;
   background: #5A2969;
   border-radius: 5px;
}

.child-image {
   width: 40%;
   top: 0px;
   position: relative;
   left: 5vw;
}

.triangle1 {
   position: relative;
   top: 40%;
   width: 26px;
   left: 10%;
   height: 30px;
   background-image: url('../../asserts/traingle1.svg');
}

.triangle2 {
   position: relative;
   width: 26px;
   top: 50%;
   right: -6%;
   height: 30px;
   background-image: url('../../asserts/traingle2.svg');
}

.rectangle {
   width: 13px;
   height: 8px;
   position: relative;
   left: 10%;
   background-image: url('../../asserts/rectangle.svg');
}

.triangle3 {
   width: 26px;
   height: 30px;
   position: relative;
   top: 60%;
   left: 16%;
   background-image: url('../../asserts/traingle3.svg');
}

.triangle4 {
   width: 26px;
   position: relative;
   top: 80%;
   left: 16%;
   height: 30px;
   background-image: url('../../asserts/traingle4.svg');
}

.arrow1 {
   width: 15vw;
   height: 20vh;
   position: relative;
   right: -3%;
   background-image: url('../../asserts/arrow2.svg');
}

@media screen and (min-width:2200px) {
   .body {
      width: 100%;
      height: 80vh;
   }

   .body-text>h1 {
      font-size: 7rem;
      line-height: normal;
   }

   .body-text p {
      width: 80%;
      font-size: 2.6rem;
      line-height: normal;
   }

   .arrow {
      width: 230px;
      height: 200px;
      top: 0px;
      left: 30px;
   }

   .big-btn {
      padding: 10px 10px;
      width: fit-content;
      font-size: 3rem;
   }

   .child-image {
      width: 40%;
      top: 0px;
      position: relative;
      left: 5vw;
   }

   .triangle1 {
      position: relative;
      top: 40%;
      width: 26px;
      left: 10%;
      height: 30px;
      background-image: url('../../asserts/traingle1.svg');
   }

   .triangle2 {
      position: relative;
      width: 26px;
      top: 50%;
      right: -6%;
      height: 30px;
      background-image: url('../../asserts/traingle2.svg');
   }

   .rectangle {
      width: 13px;
      height: 8px;
      position: relative;
      left: 10%;
      background-image: url('../../asserts/rectangle.svg');
   }

   .triangle3 {
      width: 26px;
      height: 30px;
      position: relative;
      top: 60%;
      left: 16%;
      background-image: url('../../asserts/traingle3.svg');
   }

   .triangle4 {
      width: 26px;
      position: relative;
      top: 80%;
      left: 16%;
      height: 30px;
      background-image: url('../../asserts/traingle4.svg');
   }

   .arrow1 {
      width: 15vw;
      height: 20vh;
      position: relative;
      right: -3%;
      background-image: url('../../asserts/arrow2.svg');
   }
}

@media screen and (min-width:1400px) and (max-width:2200px) {
   .body {
      width: 100%;
      height: 80vh;
   }

   .body-text>h1 {
      font-size: 5rem;
      line-height: normal;
   }

   .body-text p {
      width: 80%;
      font-size: 1.6rem;
      line-height: normal;
   }

   .arrow {
      width: 130px;
      height: 100px;
      top: 0px;
      left: 30px;
   }

   .big-btn {
      font-weight: 600;
      font-size: 1.6rem;
   }

   .child-image {
      width: 40%;
      top: 0px;
      position: relative;
      left: 5vw;
   }

   .triangle1 {
      position: relative;
      top: 40%;
      width: 26px;
      left: 10%;
      height: 30px;
      background-image: url('../../asserts/traingle1.svg');
   }

   .triangle2 {
      position: relative;
      width: 26px;
      top: 50%;
      right: -6%;
      height: 30px;
      background-image: url('../../asserts/traingle2.svg');
   }

   .rectangle {
      width: 13px;
      height: 8px;
      position: relative;
      left: 10%;
      background-image: url('../../asserts/rectangle.svg');
   }

   .triangle3 {
      width: 26px;
      height: 30px;
      position: relative;
      top: 60%;
      left: 16%;
      background-image: url('../../asserts/traingle3.svg');
   }

   .triangle4 {
      width: 26px;
      position: relative;
      top: 80%;
      left: 16%;
      height: 30px;
      background-image: url('../../asserts/traingle4.svg');
   }

   .arrow1 {
      width: 15vw;
      height: 20vh;
      position: relative;
      right: -3%;
      background-image: url('../../asserts/arrow2.svg');
   }
}


@media screen and (min-width:280px) and (max-width:760px) {
   .body {
      overflow: hidden;
      /* padding-bottom: 20px; */
      /* height: 50vh; */
      height: fit-content;
      /* height: 40vh; */
      background-size: 100% 60%;
   }

   .body-text {
      left: 1.5rem;
      top: 1rem;
      width: 50rem;
   }

   .body-text-h1 {
      /* font-size: 18px; */
      font-size: 13px;
   }

   .body-text>h1 {
      /* font-size: 18px; */
      font-size: 13px;
      line-height: normal;
   }

   .body-text p {
      width: 90%;
      margin-top: 6px;
      /* margin-top: 10px; */
      /* font-size: 12px; */
      font-size: 10px;
      letter-spacing: 0.5px;
      line-height: normal;
   }

   .arrow {
      /* width: 50px; */
      width: 50px;
      /* height: 80px; */
      height: 30px;
      /* top: -10px; */
      top: 8px;
      left: 10px;
   }

   .big-btn {
      margin-top: 10px;
      /* margin-top: 20px; */
      padding: 3px 9px;
      /* padding: 5px 10px; */
      /* font-size: 12px; */
      font-size: 11px;
      width: fit-content;
      border-radius: 5px;
   }

   .child-image {
      width: 40rem;
      /* width: 53rem; */
      /* top: -10vh; */
      /* top: -2.4rem; */
      top: -3em;
      left: 0vw;
      margin-top: 4rem;
   }

   .triangle1 {
      top: 5em;
      margin: 2px;

      /* top: 30%; */
      width: 26px;
      left: 10%;
      height: 30px;
   }

   .triangle2 {
      width: 26px;
      top: 6em;
      /* left: 5em; */
      /* top: 30%; */
      right: 0%;
      margin: 2px;

      height: 30px;
   }

   .rectangle {
      width: 13px;
      height: 8px;
      left: 3%;
   }

   .triangle3 {
      width: 26px;
      height: 30px;
      /* top: 40%; */
      top: 4em;
      left: -1em;
      margin: 2px;
   }

   .triangle4 {
      width: 26px;
      margin: 2px;

      /* top: 45%; */
      top: 7em;
      left: 3em;
      height: 30px;
   }

   .arrow1 {
      width: 30vw;
      /* width: 25vw; */
      height: 30vh;
      /* height/: 25vh; */
      right: 0%;
   }
}

/* @media screen and (min-height:760px) {
   .child-image {
      top: -3rem;
   }
} */

/* for ipad */

@media screen and (min-width:760px) and (max-width:1200px) {
   .body {
      height: 50vh;
   }

   .body-text {
      left: 2rem;
      top: 3rem;
      width: 40%;
   }

   .body-text>h1 {
      font-size: 30px;
      line-height: normal;
   }


   .body-text p {
      width: 70%;
      margin-top: 20px;
      font-weight: 500;
      font-size: 12px;
      line-height: normal;
   }

   .arrow {
      width: 90px;
      height: 60px;
      top: 0px;
      left: 10px;
   }

   .big-btn {
      margin-top: 20px;
      padding: 7px 16px;
      width: fit-content;
      font-size: 13px;
      border-radius: 5px;
   }

   .child-image {
      width: 40%;
      top: 0;
      left: 5vw;
      /* left: 5vw; */
   }

   .triangle1 {
      top: 45%;
      width: 14px;
      height: 14px;
      left: 10%;
      height: 20px;
   }

   .triangle2 {
      width: 15px;
      top: 55%;
      right: -6%;
      height: 15px;
   }

   .rectangle {
      width: 13px;
      height: 8px;
      left: 10%;
   }

   .triangle3 {
      width: 15px;
      height: 15px;
      top: 60%;
      left: 0%;
   }

   .triangle4 {
      width: 15px;
      top: 80%;
      left: 0%;
      height: 15px;
   }

   .arrow1 {
      width: 10vw;
      height: 6vh;
      right: 0;
   }
}