.-container {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}

.-container .left-signin {
    position: absolute;
    width: 45%;
    left: -300%;
    opacity: 0;
}

.eyestyle {
    border-bottom: 2px solid indigo;
    padding: 2px;
}

.-container .right-signin {
    position: absolute;
    left: -300%;
    opacity: 0;
}

#status {
    padding: 8px;
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
}

/* #status::before {
    position: fixed;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 2;
} */

/* left side of sign up page  */

.left {
    top: 100px;
    width: 45%;
    margin: 10px;
    text-align: center;
}

.left-signup>h1 {
    width: 100%;
    color: #7b0aab;
    letter-spacing: 10px;
    padding: 6px;
}

.left-signup h3 {
    color: #9008ca;
    margin-top: 10px;
}

.left-signup .image {
    height: 68vh;
    margin: 20px 0px;
}

.left-signup .image>img {
    width: 85%;
    height: 100%;
    border-bottom: 2px solid darkslateblue;
}

/* RIGHT SIDE OF SIGN UP PAGE */

.right {
    width: 55%;
    position: relative;
    max-height: 110vh;
    overflow: hidden;
}

.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(45deg, #FCE4BD, #FCE4BD);
    border-radius: 50% 0 0 50%;
    transform: scaleY(1.1);
    z-index: -1;
}

.right-signup {
    width: 100%;
    height: 100%;
}

.right-signup h1 {
    margin: 20px 64px 20px auto;
    width: 58%;
    letter-spacing: 6px;
    font-size: 23px;
    color: black;
    text-align: center;
}

.form-panel {
    position: absolute;
    right: 60px;
    height: 80%;
    width: 60%;
    background-color: #fff;
    margin-top: 8px;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    height: 100%;
    justify-content: space-around;
}

.form input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 15px;
    border-bottom: 2px solid indigo;
    outline: none;
    padding-bottom: 5px;
}

.form .btn {
    background-color: transparent;
    color: indigo;
    padding: 3px 20px;
    border: 3px solid indigo;
    width: 45%;
    margin: 0 auto;
    border-radius: 17px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.form .btn:hover {
    background-color: indigo;
    color: white;
}

.icons {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.fa-facebook-f {
    color: #4267B2;
}

.fa-twitter {
    color: #39A0F4;
}

.icon {
    margin: 0 10px 0 10px;
    border-bottom: 10px solid aliceblue;
    border-radius: 48%;
    padding: 15px;
    background-color: #fff;
    cursor: pointer;
}

.already-acc {
    text-align: center;
    cursor: pointer;
    color: black;
    font-weight: bolder;
}

.form h3 {
    text-align: center;
    font-weight: revert;
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
    color: #9f1dd7;
}

h4 {
    width: 100%;
    border-bottom: 1px solid rgb(36, 34, 34);
    margin: 10px 0 20px 0;
    line-height: .1rem;
    text-align: center;
}

.form span {
    background-color: #fff;
    /* padding: 10px; */
    padding: 0px 10px;
}

/*LEFT SIDE SIGN IN PAGE */

.onclick .left-signup {
    position: absolute;
    left: -300%;
    opacity: 0;
}

.onclick .right-signup {
    position: absolute;
    right: -300%;
    opacity: 0;
}

.onclick .left-signin {
    left: 0;
    opacity: 1;
}

.onclick .right-signin {
    left: 0;
    opacity: 1;
}

.onclick .left {
    margin: 0;
    background-color: rgb(247 247 247);
}

.onclick .image {
    height: 90vh;
    margin: 35px 0 0 0;
}

.onclick .image>img {
    height: 80%;
    width: 85%;
    border: none;
}

.left-signin h1 {
    width: 60%;
    margin: 40px auto 30px auto;
    color: #7b0aab;
}

.onclick .left-heading {
    font-size: 43px;
    width: 100%;
}

/* RIGHT SIDE OF LOGIN PAGE */

.right-signin {
    width: 100%;
    height: 100%;
}

.right-signin h1 {
    margin: 20px 64px 20px auto;
    width: 58%;
    letter-spacing: 6px;
    font-size: 23px;
    color: black;
    text-align: center;
}

.form h5 {
    color: indigo;
    font-size: 17px;
    cursor: pointer;
}

/*login with socail icon */

.twitter {
    border: none;
    background-color: #fff;
}

@media screen and (max-width:950px) {
    .left-signup h1 {
        width: 100%;
        color: #9f1dd7;
        letter-spacing: 4px;
        padding: 4px;
    }

    .form .btn {
        width: 55%;
    }
}

@media screen and (max-width:900px) {
    .eyestyle {
        font-size: 30px;
    }

    .-container {
        flex-direction: column;
        height: auto;
    }

    .left {
        width: 100%;
        margin: 10px 0;
    }

    .right {
        width: 100%;
        min-height: 900px;
    }

    .right::before {
        border-radius: 50% 50% 0 0;
        transform: scaleX(1.3);
    }

    /* signup top-part  */
    .left-signup h1 {
        font-size: 52px;
    }

    .left-signup .image {
        margin: 40px 0 20px;
        height: 400px;
    }

    .image img {
        width: 65%
    }

    .left-signup h3 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    /* signup form */
    .right-signup h1 {
        width: 100%;
        margin: 75px 0 30px;
        font-size: 30px;
    }

    .form-panel {
        right: 15%;
        width: 70%;
    }

    .form input {
        font-size: 30px;
    }

    .btn {
        padding: 6px 20px;
        font-size: 22px;
    }

    .form span {
        font-size: 23px;
    }

    .icon {
        padding: 20px;
    }

    .already-acc {
        font-size: 25px;
    }

    .form h3 {
        font-size: 30PX;
    }

    /* signin top  */
    .onclick .left {
        height: 688px;
    }

    .onclick .left-signin {
        width: 100%;
    }

    .onclick .left-heading {
        position: relative;
        left: 0;
        width: 100%;
        font-size: 55px;
    }

    .onclick.image {
        height: 500px
    }

    .onclick .image img {
        height: 500px;
        width: 65%;
    }

    .right-signin h1 {
        width: 100%;
        margin: 75px 0 30px;
        font-size: 30px;
    }

    .form h5 {
        font-size: 25px;
    }
}

@media screen and (max-width:600px) {
    h4 {
        margin: 20px 0 20px 0;
    }

    .left-signup h1 {
        font-size: 30px;
    }

    .left-signup .image {
        margin: 30px 0 20px;
        height: 300px;
    }

    .image img {
        width: 60%;
    }

    .left-signup h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .onclick .left {
        height: 500px;
    }

    .onclick .left-heading {
        font-size: 30px;
    }

    .onclick .image {
        height: 350px;
    }

    .onclick .image img {
        margin: 20px 0 20px;
        height: 300px;
        width: 60%;
    }

    .right {
        min-height: 560px;
    }

    .right::before {
        bottom: 0;
        top: auto;
        height: 82%;
    }

    .right-signup h1 {
        position: absolute;
        top: 15px;
        margin: 0;
        color: #4e00ab;
        z-index: 1;
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: normal;
    }

    .form-panel {
        right: 10%;
        width: 80%;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    }

    .form {
        justify-content: space-evenly;
        padding-top: 25px;
    }

    .form input {
        font-size: 16px;
        margin: 10px 0 0;
    }

    .btn {
        padding: 6px 20px;
        font-size: 16px;
        width: 60%;
        margin: 10px auto;
    }

    .form span {
        font-size: 15px;
    }

    .icons {
        height: 70px;
    }

    .icon {
        padding: 20px;
    }

    .already-acc {
        position: absolute;
        left: 0;
        bottom: -42px;
        color: black;
        font-size: 18px;
        text-align: center;
        width: 100%;
    }

    .form h3 {
        position: absolute;
        bottom: -80px;
        text-align: center;
        left: 0;
        width: 100%;
        font-size: 25px;
        color: #9f1dd7;
    }

    .right-signin h1 {
        position: absolute;
        top: 40px;
        margin: 0;
        color: #4e00ab;
        z-index: 1;
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: normal;
    }

    .onclick .form {
        justify-content: space-around;
        padding: 60px 25px 15px;
    }

    .form h5 {
        font-size: 15px;
    }
}




@media screen and (min-width:1600px) {
    .left-signup>h1 {
        font-size: 50px;
    }

    .left-signup h3 {
        font-size: 30px;
    }

    .left-signup .image {
        height: 70vh;
        margin: 30px 0px;
    }

    .onclick .left-heading {
        font-size: 55px;
    }

    .left-signin h1 {
        margin: 40px auto;
    }

    .right-signup h1 {
        font-size: 35px;
    }

    .form input {
        font-size: 23px;
    }

    .eyestyle {
        font-size: 30px;
        padding: 0;
    }

    .form .btn {
        padding: 8px 20px;
        font-size: 25px;
    }

    .form span {
        font-size: 25px;
    }

    .form h3 {
        font-size: 30px;
    }

    .already-acc {
        font-size: 25px;
    }

    .form h5 {
        font-size: 25px;
    }

    .right-signin h1 {
        margin: 30px 64px 30px auto;
        font-size: 35px;
    }
}

@media screen and (min-width:2200px) {
    .left-signup>h1 {
        font-size: 55px;
    }

    .left-signup h3 {
        font-size: 35px;
    }

    .left-signup .image {
        height: 70vh;
        margin: 30px 0px;
    }

    .onclick .left-heading {
        font-size: 70px;
        letter-spacing: 6px;
    }

    .left-signin h1 {
        margin: 40px auto;
    }

    .right-signup h1 {
        font-size: 40px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .form input {
        font-size: 27px;
    }

    .eyestyle {
        font-size: 30px;
        padding: 0;
    }

    .form .btn {
        padding: 8px 20px;
        font-size: 35px;
    }

    .form span {
        font-size: 25px;
    }

    .form h3 {
        font-size: 35px;
    }

    .already-acc {
        font-size: 30px;
    }

    .form h5 {
        font-size: 25px;
    }

    .right-signin h1 {
        margin: 30px 64px 30px auto;
        font-size: 35px;
    }
}